<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>


<!-- JDBC connection pool (use the built-in) -->
<property name="connection.pool_size">1</property>



<!-- Enable Hibernate's automatic session context management -->
<property name="current_session_context_class">thread</property>

<!-- Disable the second-level cache -->
<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>





  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <!-- <property name="hibernate.session_factory_name">hibernate/LocalliSessionFactory</property>
<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property>
  <property name="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property>
<property name="hibernate.transaction.jta.platform">org.hibernate.service.jta.platform.internal.JBossAppServerJtaPlatform</property>
  <property name="hibernate.current_session_context_class">thread</property> -->
  
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/diplomatiki?useUnicode=true&amp;character_set_server=utf8mb4</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">qwerty!2</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.connection.autocommit">true</property>
  
  <!-- <property name="hibernate.current_session_context_class">thread</property> -->
<!-- <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property> -->
<property name="hibernate.c3p0.min_size">3</property>
<property name="hibernate.c3p0.max_size">100</property>
<property name="hibernate.c3p0.timeout">5000</property>
<property name="hibernate.c3p0.max_statements">3</property>
<property name="hibernate.c3p0.idle_test_period">300</property>
<!-- <property name="hibernate.c3p0.validate">true</property> -->
<!-- <property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider</property> -->

  

  <mapping resource="domain/dto/Users.hbm.xml"/>
  
  

 </session-factory>
</hibernate-configuration>
